	/*=-footer-=*/
    footer {
        color: #fff;
        background-attachment: fixed;
        background-color:#222;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    /*=-Copyright-=*/
    .copyright {
        background-color: #111;
        padding: 12px 0;
        font-size:14px;
    }