
<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    <div ><h6 class="font-weight-bold mb-0 text-center">Un Bug ? contactez le développeur</h6></div>
                  
                    <p><a href="#">tariq.tariq.anas@gmail.com</a></p>
                    &copy; 2020 Datalake Group.
                </div>
            </div>
        </div>
    </div>
</section>